/*naranja ff6b00
azul 006282*/
.form_container{
    background-color: rgb(255, 255, 255);
    width: 80%;
    max-width: 400px;
    margin: 0 auto;/*Para centrar horizontalmente*/
    margin-top: 20px;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
h2{
    text-align: center;
    color: #006282;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #006282;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #6c6c6c;
    border-radius: 8px;
}

.btn{
    width: 48%;
    padding: 8px;
    border: 1px solid #6c6c6c;
    border-radius: 6px;
    cursor: pointer;
    background-color: #006282;
    color: #fff;
}

.btn_registrar{
    margin-right: 1%;
}

.btn_ingresar{
    margin-left: 1%;
}